*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: gray;
}

.card{
    height: 300px;
    width: 300px;
    background-color: #202731;
    border-radius: 2rem;
    padding: 2rem;
}
.star{
    background-color: #202731;
    width: 20%;
    height: 20%;
    color: rgb(240, 136, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.2rem;
    font-weight: 300;
    font-size: 1.25rem;
}
h2{
    color: white;
    background-color: #202731;
    width: 70%;
    height: 15%;
}
.numbers{
    display: flex;
    background-color: #202731;
    justify-content: space-between;
    color: #8196b4;
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
    
}
.numbers p
{
   background-color: #171c23;
   padding: 0.4rem 0.8rem;
   border-radius: 4rem;
}
button{
    width: 100%;
    background-color: #FC7613;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 2rem;
    height: 30px;
    font-weight: 500;
}